#content-root .equip-icon {
    width: 2.2em;
    height: 2.2em;
}

#content-root .equip-icon.svg {
    padding: 5px;
}

#content-root .eqcat-collapse-toggle {
    width: 1em;
}

#content-root .star-text {
    color: #45a9a5;
}
